*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.nav-bar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo {
    background-color: #0f1111;
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url("/img/stock-vector-amazon-logo-icon-isolated-on-transparent-background-vector-eps-2300329721.jpg");
    background-size: cover;
    height: 50px;
    width: 100%;
    
}

.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}

/** box 2 

.nav-address:hover {
    border: 1.5px solid white;
}**/
.first-address {
color: grey;
font-size: .85rem;
}
.second-address {
    color: white;
    font-size: 1rem;
}
.add-icon {
    display: flex;
    align-items: center;
}